[Unit]
Description=Tyk Pump
 
[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/tyk-pump/tyk-pump -c /opt/tyk-pump/pump.conf
Restart=always

[Install]
WantedBy=multi-user.target
