sudo: false
language: go

notifications:
  on_success: never
  on_failure: always

services:
  - mongodb

matrix:
  include:
    - go: 1.11.x
      env: LATEST_GO=true # run linters and report coverage

install:
  - go get golang.org/x/tools/cmd/goimports
  - go get

script:
  - ./utils/ci-test.sh
